<h1>Handling the Exceptions</h1>

<h3>Exception message:</h3>
 <%= @params[:exception].message %>
 <br>
<h3>Stack Trace:</h3>
 <%= @params[:exception].backtrace %>

<h3>Experimental</h3>
<%= @params[:exception] %>
